<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Edit Group</h2>
<form th:action="@{/group/{id}/edit(id=${group.id})}" method="post">
    <input type="text" name="name" th:value="${group.name}" required>

    <select name="directionId" required>
        <option value="Выберите направление" disabled></option>
        <th:block th:each="direction : ${directions}">
            <option th:value="${direction.id}" th:text="${direction.name}"
                    th:selected="${group.directionId == direction.id}"></option>
        </th:block>
    </select>

    <button type="submit">Сохранить изменения</button>
</form>
</body>
</html>
