<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Список групп</title>
</head>
<body>
<h2> Список групп </h2>
<form action="/student" method="get" style="display: inline;">
  <button>  Список студентов  </button>
</form>
<form action="/direction" method="get" style="display: inline;">
  <button> Список направлений </button>
</form>
<form action="/group/create" method="get" style="display: inline;">
  <button> Создать группу </button>
</form>
<ul>
  <th:block th:each="group : ${groups}">
    <li>
      <span th:text="${group.name} + ' / ' + ${group.getDirectionName(directions)}"></span>
      <form th:action="@{/group/{id}/students(id=${group.id})}"
            method="get" style="display: inline;">
        <button type="submit"> Студенты </button>
      </form>
      <form th:action="@{/group/{id}/edit(id=${group.id})}" method="get"
            style="display: inline;">
        <button type="submit"> Редактировать </button>
      </form>
      <form th:action="@{/group/{id}/delete(id=${group.id})}" method="post"
            style="display: inline;">
        <button type="submit"> Удалить </button>
      </form>
    </li>
  </th:block>
</ul>
</body>
</html>