<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список студентов</title>
</head>
<body>
<h2> Список студентов </h2>
<form action="/group" method="get" style="display: inline;">
    <button>  Список групп  </button>
</form>
<form action="/student/create" method="get" style="display: inline;">
    <button> Создать студента </button>
</form>
<ul>
    <th:block th:each="student : ${students}">
        <li>
            <span th:text="${student.name} + ' / ' + ${student.email} + ' / ' + ${student.getGroupName(groups)}"></span>
            <form th:action="@{/student/{id}/edit(id=${student.id})}"
                  method="get" style="display: inline;">
                <button type="submit"> Редактировать </button>
            </form>
            <form th:action="@{/student/{id}/delete(id=${student.id})}"
                  method="post" style="display: inline;">
                <button type="submit"> Удалить </button>
            </form>
        </li>
    </th:block>
</ul>
</body>
</html>